@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;600&display=swap");
@font-face {
  font-family: "BROOKLINE";
  src: url("../public/Brookline.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-brookline: BROOKLINE;
  --font-cabin: Cabin;
  --font-inherit: inherit;
  --font-be-vietnam-pro: "Be Vietnam Pro";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 40px;
  --font-size-4xl: 48px;

  /* Colors */
  --anvuinew-gray20: #f9fafc;
  --color-gray-200: #f0f2f4;
  --anvuinew-gray40: #ecedf1;
  --anvuinew-gray60: #b0b5c1;
  --anvuinew-gray100: #383f47;
  --color-gray-600: #222;
  --color-gray-700: #151515;
  --color-gray-800: rgba(255, 255, 255, 0.1);
  --color-gray-900: rgba(255, 255, 255, 0.6);
  --color-gray-1000: rgba(21, 21, 21, 0.8);
  --color-gray-1100: rgba(29, 29, 29, 0.8);
  --loe-orange100: #ff7a00;
  --anvuinew-white: #fff;

  /* Gaps */
  --gap-3xs: 2px;
  --gap-2xs: 4px;
  --gap-xs: 8px;
  --gap-sm: 14px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 32px;
  --gap-2xl: 40px;
  --gap-3xl: 48px;

  /* Paddings */
  --padding-3xs: 1px;
  --padding-2xs: 4px;
  --padding-xs: 8px;
  --padding-sm: 9px;
  --padding-md: 10px;
  --padding-lg: 12px;
  --padding-xl: 16px;
  --padding-2xl: 21px;

  /* border radiuses */
  --br-sm: 4px;
  --br-md: 99px;
  --br-lg: 200px;
}
